<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MAPA</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="col-8 m-auto pt-2 pb-2 text-center">
		<h1>MAPA</h1> <!--Título dentro da página-->
	</div>


	<div class="col-8 m-auto pt-2 pb-2 text-center">
<!-- TESTANDO MAPA -->
		<a href="/" class="btn btn-success">Voltar</a>  <!--Botão adicionar, essa class é do bootstrap-->
<!-- TESTANDO MAPA -->
	</div>




	{% load static %}
	<script src="{% static 'javascript.js' %}"></script>

</body>
</html>
